{% extends "base.html" %}
{% load thumbnail %}

{% block css %}
    <link href="{{ STATIC_URL }}css/basket_style.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <div class="cart-header">Моя корзина</div>
    {% if cart_items %}
        <form method="post" action="{% url 'cart_update' %}">
            {% csrf_token %}
            {{ formset.management_form }}
            <table cellpadding="0" cellspacing="0" border="0" class="cart-table">
                <tbody><tr>
                    <th class="cart-cell name">Наименование товара</td>
                    <th class="cart-cell number">Количество</td>
                    <th class="cart-cell price">Цена</td>
                    {#                    <td class="hitem discount">Скидка</td>#}
                    <th class="cart-cell amount">Сумма</td>
                    <th class="cart-cell remove">Удалить</td>
                </tr>
                {% for item in cart_items %}
                    <tr>
                        <td class="cart-cell name">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td class="cart-cell itempic" rowspan="4">
                                        {% with item.product.images_ordered.0 as image %}
                                            {% thumbnail image.src "96x96" crop="center" as im %}
                                                <a rel="prettyPhoto[pp_gal_{{ item.pk }}]" href="{{ image.url }}" title="{{ item.product.get_name }}">
                                                    <img alt="{{ image.alt }}" src="{{ im.url }}" />
                                                </a>
                                            {% endthumbnail %}
                                        {% endwith %}
                                    </td>
                                    <td class="cart-cell itemname">
                                        {{ item.product.get_name }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="cart-cell number">
                            <input type="text" name="form-{{ forloop.counter0 }}-quantity" id="id_form-{{ forloop.counter0 }}-quantity" value="{{ item.quantity }}"> шт.
                            <input type="hidden" name="form-{{ forloop.counter0 }}-id" value="{{ item.quantity }}" id="id_form-{{ forloop.counter0 }}-id">
                        </td>
                        <td class="cart-cell price">{{item.product.get_price}} р.</td>
                        <td class="cart-cell amount">{{ item.line_subtotal }} р.</td>
                        <td class="cart-cell">
                            <a class="item-delete" href="{% url 'cart_delete_single' item.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td colspan="4"><input type="submit" value="Пересчитать корзину"/></td>
                </tr>
                <tr>
                    <td colspan="2" class="cart-cell cart-cell-total"></td>
                    <td class="cart-cell cart-cell-total">ИТОГО:</td>
                    <td colspan="2" class="cart-cell cart-cell-total">{{cart.total_price}} р.</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2" valign="middle" class="submit">
                        <a class="checkout-link" href="{% url 'checkout_selection' %}">Оформить заказ</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <form action="{% url 'cart_delete' %}" method="post">
            {% csrf_token %}
            <p><input type="submit" value="Очистить корзину"/></p>
        </form>

    {% else %}
        <h3>Корзина пуста</h3>
    {% endif %}
{% endblock %}
