Django==1.5.5
Pillow
South==0.8.2
Werkzeug==0.9.4
django-classy-tags==0.3.4.1
django-debug-toolbar==0.10.2
django-extensions==1.2.5
django-filebrowser==3.5.2
django-mptt==0.6.0
django-polymorphic==0.2
django-shop==0.1.2
django-shop-categories==0.8.beta.2
django-sitetree==0.9.1
django-tinymce==1.5.1b4
django-treeadmin==0.4.1
django-singletons==0.1.6
django-shop-configurableproduct==0.3.1
ipython==1.1.0
sorl-thumbnail==11.12
wsgiref==0.1.2
django-grappelli==2.4.7
django-simple-captcha==0.4.2
django-smtp-ssl==1.0
