Django==1.5.5
Pillow
South
Werkzeug
django-classy-tags==0.3.4.1
django-debug-toolbar
django-extensions
django-filebrowser==3.5.2
django-mptt==0.6.0
django-polymorphic==0.2
django-shop==0.1.2
django-shop-categories==0.8.beta.2
django-sitetree==0.9.1
django-tinymce==1.5.1b4
django-treeadmin==0.4.1
django-singletons
django-shop-configurableproduct
ipython
sorl-thumbnail==11.12
wsgiref
django-grappelli
django-simple-captcha
