{% extends 'base.html' %}
{% block main_content %}
    {% include 'snippets/product_list.html' %}
{##}
{#    <div class="product-main">#}
{#        <div class="name"><a href="#">Название модели 829450 (3,5 р-ж)</a></div>#}
{#        <div class="for-pic"><img src="images/prod-img.jpg" border="0" alt="" /></div>#}
{#        <div class="note">#}
{#            <div class="desc">#}
{#                Прицеп предназначен для перевозки различных грузов. Варианты исполнения возможны как тент с задним бортом, так и с...  Прицеп предназначен для перевозки различных грузов. Варианты исполнения возможны как тент с задним бортом, так и с...  Прицеп предназначен для перевозки различных грузов. Прицеп предназначен для перевозки различных грузов.#}
{#            </div>#}
{#            <div class="price">Цена: <span class="old"><strong>98.000</strong> руб.</span><span><strong>50.000</strong> руб.</span></div>#}
{#            <a href="#" class="buy">Заказать</a>#}
{#            <a href="#" class="nobuy">Нет в наличии</a>#}
{#            <div class="clear"></div>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{% endblock %}