@charset "utf-8";
/* CSS Document */

html, body {
	margin:0;
	padding:0;
	position:relative;
	height:100%;
}
body {
	text-align:left;
	background:url(bg.jpg) 0 0 repeat;
	position:relative;
	font:normal 13px/150% Arial, Helvetica, sans-serif;
	color:#666666;
}
a {
	color:#226cce;
	text-decoration:underline;
}
a:hover {
	color:#226cce;
	text-decoration:none;
}

a img {border-color:#666666}
a.highslide {display:block}
a.highslide img {border:none}
a.highslide:hover img {border:none}

YMaps { color:#000; }

h1,h2,h3,h4,h5,h6 { margin:0; padding:12px 0; color:#0f4c9c; font-family:Arial, Helvetica, sans-serif;font-weight:normal}
h1 { font-size:23px; padding:0 0 20px}
h2 { font-size:20px}
h3 { font-size:18px}
h4 { font-size:15px}
h5,h6 { font-size:11px}


#wrap {position:relative; height:auto !important; height:100%; min-height:100%; margin:0 0 -127px}
.clear {clear:both; height:0; font-size:0; line-height:0}

.wrap-header {background:url(bg-head.jpg) 0 0 repeat-x}
#header {position:relative; height:72px; width:1010px; margin:0 auto}
.logo {position:absolute; top:14px; left:19px; font:italic 12px Arial, Helvetica, sans-serif; color:#0f4c9c}
.logo img {border:none; display:block; margin:0 0 2px}
.cart {position:absolute; top:6px; right:21px; width:157px; font:normal 12px/150% Arial, Helvetica, sans-serif; color:#4c4c4c}
.cart span.title {display:block; padding:0 0 3px; font-size:13px; color:#f96900}
.cart span.title a {color:#f96900}
.cart a {color:#0f4c9c}
.phone {position:absolute; top:12px; left:323px; background:url(phone.jpg) 0 0 no-repeat; width:273px; height:53px; padding:6px 0 0 121px; font:normal 14px Arial, Helvetica, sans-serif; color:#2b60a5; line-height:24px}
.phone span {font-size:24px; color:#f88100; line-height:24px; position:relative; top:3px}

.wrap-block-top {position:relative; width:990px; margin:11px auto 0; padding:0 0 18px}
.wrap-block-top .block-top {background:url(block-top.png) 0 0 no-repeat; height:132px}
.wrap-block-top button.but {
    display:block;
    background:url(but.png) 0 0 no-repeat;
    width:180px;
    height:44px;
    position:absolute;
    z-index:1000;
    bottom:0;
    right:13px;
    margin:0;
    border: 0 none;
    cursor: pointer;
}
.wrap-block-top .block-top .title-block {float:left; width:179px; height:34px; font:italic 16px/34px Arial, Helvetica, sans-serif; color:#FFF; padding:0 0 0 12px}
#upm {padding:0; margin:0; float:left; list-style:none; font-size:0; line-height:0}
#upm li {float:left; padding:0; margin:0}
#upm li a {display:block; padding:0 16px; cursor:pointer; font:bold 13px/34px Arial, Helvetica, sans-serif; color:#FFF; text-decoration:underline}
#upm li a:hover {text-decoration:none; color:#0f4c9c; background:url(bg_a.jpg) 0 0 repeat-x}
#upm li.active a {text-decoration:none; color:#0f4c9c; background:url(bg_a.jpg) 0 0 repeat-x}

.wrap-form {padding:8px 0 0 12px; margin:0; float:left; vertical-align:top}
.wrap-form .form-title {padding:13px 0 0; font:italic 13px Arial, Helvetica, sans-serif; color:#424242; float:left; width:194px}
.wrap-form input {float:left; display:block; margin: 1px 5px 0 0; padding:0; vertical-align:top}
.wrap-form span.wr {float:left; width:163px; padding:0; margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#000000}
.wrap-form span.wr span.title {display:block; font:bold 13px Arial, Helvetica, sans-serif; padding:0; color:#0f4c9c}
.wrap-form span.wr em {font-style:normal; display:inline-block; padding:5px 0 0}
.wrap-form span.wr label {font-style:normal; display:block; padding:5px 0 0}

.cont-box {width:1010px; margin:-20px auto 0; padding:0; zoom:1}
.cont-box .icos {padding:0 0 0 21px; margin:0; height:57px; position:relative; z-index:1}
.cont-box .icos img {border:none}

.left-block {float:left; width:194px; margin:0 3px 0 11px; padding:0 0 60px}
#lmenu {padding:0 0 51px; margin:0; list-style:none; font-size:0; line-height:0}
#lmenu li {padding:0; margin:0; vertical-align:top; background:url(lm_sep.png) 0 0 no-repeat}
#lmenu li:first-child {background:none}
#lmenu li a {display:block; padding:5px 0 0; cursor:pointer; font:normal 17px Arial, Helvetica, sans-serif; color:#414040; text-decoration:underline; background:url(lm-a-top.png) 0 0 no-repeat}
#lmenu li a span.bot {display:block; padding:0 0 5px; background:url(lm-a-bot.png) 0 100% no-repeat}
#lmenu li a span.bg {display:block; padding:1px 10px 1px 26px; background:url(lm-a-bg.png) 0 0 repeat-y}
#lmenu li a:hover {color:#f88100; background:url(lm-a-top-ov.png) 0 0 no-repeat; text-decoration:none}
#lmenu li a:hover span.bot {background:url(lm-a-bot-ov.png) 0 100% no-repeat}
#lmenu li a:hover span.bg {background:url(lm-a-ov.png) 0 0 repeat-y}
#lmenu li.active a {color:#f88100; background:url(lm-a-top-ov.png) 0 0 no-repeat; text-decoration:none}
#lmenu li.active a span.bot {background:url(lm-a-bot-ov.png) 0 100% no-repeat}
#lmenu li.active a span.bg {background:url(lm-a-ov.png) 0 0 repeat-y}

a.zak-zv {display:block; margin:0 0 16px; width:194px; height:51px; text-align:center; font:bold 16px/42px Arial, Helvetica, sans-serif; color:#606060; text-decoration:none; background:url(zak-zv.png) 0 -51px no-repeat; text-shadow:1px 1px #FFF}
a.zak-zv:hover  {background:url(zak-zv.png) 0 0 no-repeat}
a.price {display:block; margin:0; width:194px; height:51px; text-align:center; font:bold 16px/42px Arial, Helvetica, sans-serif; color:#606060; text-decoration:none; background:url(price.png) 0 -51px no-repeat; text-shadow:1px 1px #FFF}
a.price:hover  {background:url(price.png) 0 0 no-repeat}

.right-block {float:left; padding:0; margin:0; width:802px}
.right-block table.main-block {width:100%; border:none; border-collapse:collapse}
.right-block table.main-block td {border:none; border-collapse:collapse; vertical-align:top}
.right-block table.main-block td.sh-lf {width:9px; background:url(shadow-lf.png) 100% 50% no-repeat; height:830px}
.right-block table.main-block td.sh-rt {width:9px; background:url(shadow-rt.png) 0 50% no-repeat; height:830px}
.right-block table.main-block td.middle {vertical-align:top; padding:0}

.cont-top {background:url(cont-top.png) 0 0 no-repeat; height:9px}
.cont-bot {margin:0 0 0 9px; background:url(cont-bot.png) 0 100% no-repeat; height:72px; width:784px}
.wrap-content {padding:0 0 60px; min-height:770px; background:url(bg-cont.png) 0 0 repeat-y; position:relative}
.wrap-content a.up {display:block; width:88px; background:url(up.png) 100% 0 no-repeat; height:27px; font:normal 15px/27px Arial, Helvetica, sans-serif; color:#ff8a0d; position:absolute; bottom:0; left:50%; margin:0 0 0 -44px}
.path {padding:5px 20px 0; background:url(bg-path.png) 0 100% no-repeat; height:37px; font:normal 12px Arial, Helvetica, sans-serif; color:#5b5b5b}
.path a {color:#407ed1}
.content {padding:11px 15px 0}
.content .product-main {padding:0 0 30px; margin:0 0 15px; border-bottom:1px dotted #a9a9a9}
.content .product-main .name {padding:0 0 20px 5px; font:normal 23px Arial, Helvetica, sans-serif; color:#0f4c9c}
.content .product-main .name a {color:#0f4c9c}
.content .product-main .for-pic {float:left; text-align:center; width:288px; margin:0 15px 0 0}
.content .product-main .for-pic img {max-width:288px;}
.content .product-main .note {float:left; width:445px; padding:0; margin:-3px 0 0; zoom:1}
.content .product-main .note .desc {padding:0 0 15px; font:normal 12px/150% Arial, Helvetica, sans-serif; color:#585858}
.content .product-main .note .price {padding:0 0 16px; font:normal 14px Arial, Helvetica, sans-serif; color:#646464}
.content .product-main .note .price span {font-size:17px; color:#f85d00}
.content .product-main .note .price span.old {text-decoration:line-through; display:inline-block; margin:0 34px 0 0}
.content .product-main .note .price span strong {font-size:22px; font-weight:normal}
.content .product-main .note a.buy {display:block; float:left; background:url(buy.png) 0 0 no-repeat; width:152px; height:34px; text-align:center; font:bold 14px/26px Verdana, Geneva, sans-serif; color:#582819; text-shadow:-1px 1px #ffd9af; text-decoration:none}
.content .product-main .note a.buy:hover {color:#FFF; text-shadow:-1px -1px #3c78c7; background:url(buy.png) 0 -34px no-repeat}
.content .product-main .note a.add {display:block; float:left; background:url(add-to-cart.png) 0 -35px no-repeat; width:139px; height:34px; text-align:center; font:bold 14px/26px Verdana, Geneva, sans-serif; color:#FFF; text-shadow:-1px -1px #3c78c7; text-decoration:none; margin:0 0 0 28px; padding:0 0 0 13px}
.content .product-main .note a.add:hover {color:#582819; text-shadow:-1px 1px #ffd9af; background:url(add-to-cart.png) 0 0 no-repeat}
.content .product-main .note a.nobuy {display:block; float:left; background:url(nobuy.png) 0 0 no-repeat; width:139px; height:35px; text-align:center; font:bold 13px/26px Verdana, Geneva, sans-serif; color:#6b6b6b; text-shadow:-1px -1px #dfdfdf; text-decoration:none; margin:0 0 0 28px; padding:0 0 0 13px}
.content .text {padding:35px 5px 0}



.f-blank {height:127px}
.wrap-footer {background:url(bg_foot.png) 0 0 repeat-x}
#footer {position:relative; height:127px; width:1010px; margin:0 auto}
.info {position:absolute; top:12px; left:30px; background:url(sep.jpg) 100% 0 no-repeat; min-height:93px; width:248px}
.info .tel {padding:0 0 0 45px; margin:13px 0 0; background:url(tel.png) 0 0 no-repeat; font:normal 14px/24px Arial, Helvetica, sans-serif; color:#616161; height:27px}
.info .tel span {color:#3a3a3a; font-size:24px; line-height:24px; position:relative; top:2px}
.info .mail {padding:0 0 0 45px; margin:15px 0 0; background:url(mail.png) 0 0 no-repeat; font:normal 16px/24px Arial, Helvetica, sans-serif; color:#3b3a3a; height:27px}
.info .mail a {color:#3b3a3a; text-decoration:none}
.dev {position:absolute; top:12px; right:29px; background:url(sep.jpg) 0 0 no-repeat; min-height:93px; width:367px; text-align:right}
.dev .copy {padding:20px 0 0; text-align:right; font:normal 12px Verdana, Geneva, sans-serif; color:#383737}
.dev .design {padding:8px 0 0; text-align:right; font:normal 12px Verdana, Geneva, sans-serif; color:#797979}
.dev .design a {color:#2a64b1}

/*  tovar  */

ul.description {padding:0 0 30px; margin:0; list-style:none; font-size:0; line-height:0}
ul.description li {padding:0 0 5px 0; margin:0; width:220px; float:left; font:normal 12px Arial, Helvetica, sans-serif}

.tov-desc {padding:18px 5px 28px; margin:0; border-bottom:1px dotted #a1a1a1}
.tov-desc .title {background:url(arr-lf.png) 0 0 no-repeat; padding:0 0 18px 37px; height:27px; font:normal 19px/27px Arial, Helvetica, sans-serif; color:#0f4c9c}
.tov-desc ul {padding:0 0 20px 3px; margin:0; list-style:none; font-size:0; line-height:0}
.tov-desc ul li {padding:0 0 3px; margin:0; display:block; vertical-align:top; font:normal 12px Arial, Helvetica, sans-serif; color:#585858}
.tov-desc a.back {display:block; margin:10px 0 0; background:url(back.png) 0 0 no-repeat; width:151px; height:35px; text-align:center; font:bold 15px/28px Verdana, Geneva, sans-serif; color:#FFF; text-shadow:1px 1px #787878; text-decoration:none}

.tov-ques {padding:18px 5px 28px; margin:0}
.tov-ques .title {background:url(arr-lf.png) 0 0 no-repeat; padding:0 0 18px 37px; height:27px; font:normal 19px/27px Arial, Helvetica, sans-serif; color:#0f4c9c}
.tov-ques form {padding:28px 0 0; margin:0; vertical-align:top}
.tov-ques form input.text {padding:0 10px; margin:0 0 23px; vertical-align:top; border:1px solid #a9a9a9; background:#FFF; width:402px; height:26px; font:normal 13px/25px Arial, Helvetica, sans-serif; color:#727272; outline:none; display:inline-block}
.tov-ques form textarea {width:402px; max-width:402px; min-width:402px; padding:5px 10px; height:114px; min-height:114px; max-height:114px; resize:none; border:1px solid #a9a9a9; background:#FFF; margin:10px 0 36px; font:normal 13px Arial, Helvetica, sans-serif; color:#727272; display:inline-block; overflow:auto}
.tov-ques form span.que {display:block; padding:0 0 10px 136px; font:bold 13px Arial, Helvetica, sans-serif; color:#383838}
.tov-ques form span.tit {display:block; float:left; width:112px; padding:5px 0 0 24px; font:bold 13px Arial, Helvetica, sans-serif; color:#383838}
.tov-ques form span.wr-ch {padding:0 0 0 25px; font:normal 13px/26px Arial, Helvetica, sans-serif; color:#383838; display:inline-block; width:112px}
.tov-ques form span.wr-ch input {margin:7px 5px 0 0; position:relative; top:3px; vertical-align:top; padding:0; position:relative; top:1px}
.tov-ques form input.sub {display:block; text-align:center; padding:0 0 10px; margin:0 0 0 411px; cursor:pointer; border:none; color:#FFF; text-shadow:-1px -1px #3c78c7; background:url(buy.png) 0 -34px no-repeat; width:152px; height:34px; font:bold 14px Verdana, Geneva, sans-serif;}
.tov-ques form input.sub:hover {color:#6b6b6b; text-shadow:-1px -1px #dfdfdf; background:url(buy.png) 0 0 no-repeat;}


/*  katalog  */

.wrap-title-main {background:url(block-sep.jpg) 0 35px no-repeat; height:43px; padding:0 0 0 3px; margin:20px 0 0}
.wrap-title-main span.title-main {display:inline-block; padding:0 0 0 37px; margin:0 0 8px; height:27px; font:normal 19px/27px Arial, Helvetica, sans-serif; color:#0f4c9c; cursor:pointer; background:url(arr-lf.png) 0 0 no-repeat}
.wrap-products {padding:0}
.wr-pr {display:none; padding:0 0 30px}
.wrap-products .product {padding:20px 0 21px 5px; margin:0; border-bottom:1px dotted #a9a9a9; width:745px}
.wrap-products .product table {border:none; border-collapse:collapse}
.wrap-products .product table td {vertical-align:middle; border:none; border-collapse:collapse}
.wrap-products .product table td.pic {text-align:center; width:170px; padding:0 49px 0 0}
.wrap-products .product table td.pic a img {border:1px solid #dcdcdc}
.wrap-products .product table td.name {padding:0; font:normal 14px Arial, Helvetica, sans-serif; color:#226cce}
.wrap-products .product table td.name a {color:#226cce}
