<div class="tov-ques" id="form">
    <div class="title">Задать вопрос, сделать предварительный заказ</div>
    <p style="margin:0; padding:0 0 0 3px; font-size:12px;">Напишите свой вопрос и отправьте нам. Специалист свяжется с вами удобным для вас способом.</p>
    {#    <form id="callback-form" action="/callback/ajax{{ request.path }}" method="post">#}
    <form id="callback-form" action="/callback/ajax/" method="post">
        {% csrf_token %}
        <span class="tit">Представьтесь:</span>
        {#        <input type="text" value="" class="text">#}
        {{ form.username }}
        <br clear="all">
        <span class="tit" style="padding-top:15px;">Комментарий, вопрос:</span>
        {#        <textarea onblur="this.value=this.value==''?'Введите текст...':this.value" onfocus="this.value=this.value=='Введите текст...'?'':this.value;">Введите текст...</textarea><br clear="all">#}
        {{ form.comment }}
        <span class="que">Как с вами связаться?</span>
        <span class="wr-ch"><input type="checkbox" value="">по e-mail:</span>
        {{ form.email }}
        {#        <input type="text" onblur="this.value=this.value==''?'Укажите электронный адрес для связи':this.value" onfocus="this.value=this.value=='Укажите электронный адрес для связи'?'':this.value;" value="Укажите электронный адрес для связи" class="text">#}
        <br clear="all">
        <span class="wr-ch"><input type="checkbox" value="">по телефону:</span>
        {#        <input type="text" onblur="this.value=this.value==''?'Укажите телефон для связи':this.value" onfocus="this.value=this.value=='Укажите телефон для связи'?'':this.value;" value="Укажите телефон для связи" class="text">#}
        {{ form.phone_number }}
        <br clear="all">
        <input type="submit" class="sub callback-submit-btn" value="Отправить">
    </form>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script>
        $(function() {
            $('#callback-form').ajaxForm(function(res) {
                var response = $.parseJSON(res);

                if (response['errors']) {
                    var errors = response['errors'];
                    var msg = 'Заполните необходимые поля: ';

                    if (errors['username']) msg += '\n- ваше имя ';
                    if (errors['comment']) msg += '\n- вопрос ';
                    if (errors['email_or_phone']) msg += '\n- email или номер телефона ';

                    alert(msg);
                } else {
                    alert("Мы с вами свяжемся!");
                    window.location = '/';
                }
            });
        });
    </script>
</div>
