<div class="tov-ques" id="form">
    <div class="title">Задать вопрос, сделать предварительный заказ</div>
    <p style="margin:0; padding:0 0 0 3px; font-size:12px;">Напишите свой вопрос и отправьте нам. Специалист свяжется с вами удобным для вас способом.</p>
    <form id="callback-form" action="/callback/ajax/" method="post">
        {% csrf_token %}
        <span class="tit">Представьтесь:</span>
        {{ form.username }}
        <br clear="all">
        <span class="tit" style="padding-top:15px;">Комментарий, вопрос:</span>
        {{ form.comment }}
        <span class="que">Как с вами связаться?</span>
        <span class="wr-ch"><input type="checkbox" value="">по e-mail:</span>
        {{ form.email }}
        <br clear="all">
        <span class="wr-ch"><input type="checkbox" value="">по телефону:</span>
        {{ form.phone_number }}
        <br clear="all">
        <input type="submit" class="sub callback-submit-btn" value="Отправить">
    </form>
</div>
