{% extends "base.html" %}

{% block left_block %}
<ul id="lmenu">
    <li><a href="#"><span class="bot"><span class="bg">Каталог прицепов</span></span></a></li>
    <li><a href="#"><span class="bot"><span class="bg">Воруй убивай</span></span></a></li>
    <li class="active"><a href="#"><span class="bot"><span class="bg">Комплектующие</span></span></a></li>
    <li><a href="#"><span class="bot"><span class="bg">Доставка</span></span></a></li>
    <li><a href="#"><span class="bot"><span class="bg">О компании</span></span></a></li>
    <li><a href="#"><span class="bot"><span class="bg">Где купить</span></span></a></li>
</ul>
<a href="#" class="zak-zv">Заказать звонок</a>
<a href="#" class="price">Скачать прайс</a>
{% endblock %}
