<div class="tov-ques" id="order-form">
    <h3>Задать вопрос, сделать предварительный заказ</h3>
    <p>Напишите свой вопрос и отправьте нам. Специалист свяжется с вами удобным для вас способом.</p>
    <form id="callback-form" action="/callback/ajax/" method="post">
        {% csrf_token %}
        <p>
            <span class="tit">Представьтесь:</span>
            {{ callback_form.username }}
        </p>
        <p>
            <span class="tit">Комментарий, вопрос:</span>
            {{ callback_form.comment }}
        </p>

        <h4>Как с вами связаться?</h4>
        <p>
            <span class="wr-ch"><input type="checkbox" value=""/>по e-mail:</span>
            {{ callback_form.email }}
        </p>
        <p>
            <span class="wr-ch"><input type="checkbox" value=""/>по телефону:</span>
            {{ callback_form.phone_number }}
        </p>
        <p>
            <span class="wr-ch">Защита от ботов:</span>
            {{ callback_form.captcha }}<button class='js-captcha-refresh'>обновить код</button>
        </p>
        <p>
            <input type="submit" class="sub callback-submit-btn" value="Отправить"/>
        </p>
    </form>
</div>
